<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tuuuna</title>
        <preference name="DisallowOverscroll" value="true" />
        <meta name="description" content="自由的言論平台">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/fish.png">
    </head>

    <body style="background-color: black;color: white">
        <h1>出現慘痛的錯誤 >_<</h1>
        <h1><%= message %> <%= error.status %></h1>
        <p>但有時候只是你網址打錯而已</p>
        <img src="/images/sadcat.jpg">
    </body>
</html>