#content{
    padding: 0px;
    margin: 0px;
    position: absolute;
    background-color: black;
    color: lightgray;
    width: 100%;
}
#content-title
{
    margin: 10px 0px;
}
#tool
{
    width: fit-content;
    position: fixed;
    right: 80px;
    top: 20px;
    padding: 6px;
    font-size: 14px;
    background-color: black;
    color: #68e29f;
    border: lightgray 2px solid;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#tool:hover{
    color: black;
    background-color: #4cc381;
}
#tool-box
{
    display: none;
    position: fixed;
    top:70px;
    right: 22px;
}
.buttonstyle
{
    width: fit-content;
    border: lightgray 2px solid;
    font-weight: bold;
    margin: 10px;
    padding:10px 15px;
    background-color: black;
    color: #68e29f;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
.buttonstyle:hover{
    background-color: #4cc381;
    color: black;
}
#tool-create
{
    float: left;
    width: fit-content;
    padding:5px;
    margin:5px;
    border: lightgray 1px solid;
    color: #68e29f;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#tool-create:hover{
    background-color: #4cc381;
    color: black;
}
#content-list
{
    padding: 0px;
}
#content-list li
{
    padding:15px;
    border-top: 1px lightgray solid;
}
#content-list li:hover
{
    color: black;
    background-color: lightgray;
}
#content-list li a:hover{
    color: black;
}
#richtext-box
{
    display: none;
}
#editor
{
    height: 400px;
}
#image-size
{
    display: none;
    position: fixed;
    top:0px;
    left:0px;
}
#post-button
{
    font-size: 20px;
    float: right;
    width: fit-content;
    padding:5px 10px;
    margin:5px;
    margin-left: 15px;
    border: lightgray 1px solid;
    color: #68e29f;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#post-button:hover{
    background-color: #4cc381;
    color: black;
}
#giveup-button
{
    font-size: 20px;
    float: right;
    width: fit-content;
    padding:5px 10px;
    margin:5px;
    border: lightgray 1px solid;
    color: lightgray;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#giveup-button:hover{
    background-color: lightgray;
    color: black;
}
#message-list
{
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
}
#message-tool-box
{
    position: fixed;
    padding: 5px 10px;
    bottom: 15px;
    right: 15px;
    background-color: black;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#image-size-upload
{
    font-size: 20px;
    width: fit-content;
    padding:5px 10px;
    margin:5px;
    border: lightgray 1px solid;
    color: #68e29f;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#image-size-upload:hover{
    background-color: #4cc381;
    color: black;
}
#image-big
{
    font-size: 20px;
    width: fit-content;
    padding:5px 10px;
    margin:5px;
    border: lightgray 1px solid;
    color: lightgray;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#image-big:hover{
    background-color: lightgray;
    color: black;
}
#image-small
{
    font-size: 20px;
    width: fit-content;
    padding:5px 10px;
    margin:5px;
    border: lightgray 1px solid;
    color: lightgray;
    border-radius:4px;
    -webkit-border-radius: 4px;
}
#image-small:hover{
    background-color: lightgray;
    color: black;
}
